rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isApproved() {
      return request.auth != null && request.auth.token.email in [
        'rodrigo.bermudez@kellyeducation.com',
        'angie.miller@kellyeducation.com',
        'anthony.morales@kellyeducation.com'
      ];
    }
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'rodrigo.bermudez@kellyeducation.com';
    }
    match /sharedVisits/{visitId} {
      allow read: if isApproved();
      allow create, update, delete: if isAdmin();
    }
    match /users/{userId}/{document=**} {
      allow read: if isAdmin() && request.auth.uid == userId;
    }
  }
}
