rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isApproved() {
      return request.auth != null
        && request.auth.token.email == 'rodrigo.bermudez@kellyeducation.com';
    }
    match /users/{userId}/{document=**} {
      allow read, write: if isApproved() && request.auth.uid == userId;
    }
  }
}
